<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
  <div class="col-md-3 mb-2 mb-md-0">
    <!-- Optional branding or logo -->
  </div>

  <ul class="nav nav-pills">
    <li (click)="changeSelectorHeader('DashBoard')" [routerLink]="isLoggedIn ? '/dashboard' : null" class="nav-item">
      <a class="nav-link" 
         [ngClass]="{'active': headerSelector == 'DashBoard', disabled: !isLoggedIn}" 
         aria-current="page">DashBoard</a>
    </li>
    <li (click)="changeSelectorHeader('Income')" [routerLink]="isLoggedIn ? '/income' : null" class="nav-item">
      <a class="nav-link" 
         [ngClass]="{'active': headerSelector == 'Income', 'disabled': !isLoggedIn}">Income</a>
    </li>
    <li (click)="changeSelectorHeader('Expense')" [routerLink]="isLoggedIn ? '/expense' : null" class="nav-item">
      <a class="nav-link" 
         [ngClass]="{'active': headerSelector == 'Expense', 'disabled': !isLoggedIn}">Expense</a>
    </li>
  </ul>
</header>
